@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #762FE0;
  --accent: #FFC30D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Background gradient utilities */
.bg-radial-gradient {
  background: radial-gradient(circle, var(--tw-gradient-stops));
}
